<div class="appraise-container">
    <h2>Lutenitsa Appraises</h2>

    <div class="search-bar">
        <mat-form-field appearance="outline" class="field">
            <mat-label>Search Lutenitsa 🔍</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Enter brand or keyword">
        </mat-form-field>
    </div>

    @if (loading$|async) {
    <div class="spinner">
        <mat-progress-spinner strokeWidth="5" mode="indeterminate" diameter="70"></mat-progress-spinner>
    </div>
    } @else {
    <div class="appraise-grid">
        @for (appraise of appraises$ |async; track appraise.id) {
        <app-appraise-card [appraise]="appraise"></app-appraise-card>
        } @empty {
        <p>No appraises found</p>
        }
    </div>
    }
</div>

<mat-paginator [length]="count$ | async" [pageSize]="pageSize" [pageIndex]="currentPage-1"
    (page)="onPageChange($event)">
</mat-paginator>