<header class="header">
    <nav>
        <div class="nav-container">

            <div class="nav-links">
                <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
                <a routerLink="/profile" routerLinkActive="active">Profile</a>
                <a routerLink="/login" routerLinkActive="active">Login</a>
                <a routerLink="/home" class="logo-link">
                    <img src="https://png.pngtree.com/png-vector/20230218/ourmid/pngtree-red-tomato-cartoon-illustration-png-image_6608572.png" alt="Home" class="logo">
                </a>
                <a routerLink="/logout" routerLinkActive="active">Logout</a>
                <a routerLink="/register" routerLinkActive="active">Register</a>
                <a routerLink="/create-review" routerLinkActive="active">Create Review</a>
            </div>
        </div>
    </nav>
</header>