.hero {
    width: 100%;
    margin: 2em auto;
    text-align: center;
    padding: 4rem 0;
    color: #be5a44;
    /* background-image: url('../../../../public/360_F_550409910_UYDguYy7GRjOPNUF1QkUvwFOvEyKyyMP.jpg'); */
    background-size: cover;
    z-index: 1;
}

h1 {
    font-size: 3em;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #3a2a22;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #b84040;
}

.cta-button {
    background-color: #d45437;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: #391010;
    transform: translateY(-2px);
}

.hero {
    opacity: 0.3;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.content-active {
    opacity: 1;
    pointer-events: auto;
}