.appraise-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.appraise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.mat-mdc-progress-spinner {
    opacity: 1 !important;
    --mdc-circular-progress-active-indicator-color: #3f51b5;
}