<mat-card class="contact-card">
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-content>
        <p><mat-icon>location_on</mat-icon> ул. Шейново 2, София, България</p>
        <p><mat-icon>email</mat-icon> contact&#64;lutenica-appraiser.com</p>
        <p><mat-icon>phone</mat-icon> +359 888 123 456</p>

        <div class="map-container">
            <iframe width="100%" height="300" style="border:0;" loading="lazy" allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.openstreetmap.org/export/embed.html?bbox=27.9150,43.2030,27.9200,43.2050&layer=mapnik&marker=43.204049,27.917503">
            </iframe>
        </div>
    </mat-card-content>
</mat-card>