.about-card {
    width: 800px;
    margin: 2rem auto;
    padding: 0;
    background-color: #fffaf5;
    color: #3e2723;
    border-radius: 20px;
}

mat-card-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #5d1f0f;
    margin-bottom: 0.5em;
}

mat-card-subtitle {
    font-size: 1rem;
    color: #7b3e3e;
}

mat-card-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

.about-image {
    width: 100%;
    height: auto;
    max-height: 400px;
}

mat-card-actions {
    padding: 0 16px 16px 16px;
    margin: 0.5em;

    a {
        background: #d45437;
        color: white;
        border-radius: 10px;
    }
}

@media(max-width:780px){
    .about-card {
        width: 90%;;
    }
}